/* common__part */
h1,h2,h3,h4,h5,h6,span{
    font-family: 'Oswald', sans-serif;   
}
p,a,button{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
}
.common__color{
    color: #fd7e14;
}
.common__btn{
    padding: 17px 36px;
    color: white;
    background-color: #4242ff;
    border: none;
    border-radius: 12px;
    text-decoration: none;
}
.hero__section{
    background: #fff3f0;
}


/* 
casual shoes */
.shoe__card{
    border: none;
   
}
.shoes__card{
    border-radius: 25px;
}
.shoe__card img{
    background-color: #f3f3f3;
    border-radius: 25px;
    margin-top: 13px;
}

.shoe__footer{
    border: none;
    background-color: white;
}



/* 
formal-shoe-style */


.formal__border{
    border: none;
    border-radius: 20px;
}

.formal__footer{
    border: none;
    background-color: white;
    border-radius: 20px;
}
.doller{
    color: #fd7e14;
    font-size: 40px;
}


/* find the perfect fit */

.fit__img{
    width: 100px;
    margin-left: 50px;

}
.fit__img img{
    width: 100%;
}
